.panel {
    display: flex;
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 70rem;
    justify-content: space-around;
}

.panel img {
    width: clamp(85px, 15%, 145px);
    border-radius: 50%;
}

.panel img:hover {
    opacity: 0.5;
    transition: 0.5s;
}