.book_list {
    /* margin: 1rem; */
    padding: 1em;
    list-style: none;

    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book_list a {
    text-decoration: none;
}

.book_list li {
    display: flex;
    flex-direction: row;
}