.nav {
    margin: 0;
    padding: 0.1rem;
    display: flex;
    justify-content: space-between;
    background-color: #785959;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 1rem;
    align-items: center;
}

.nav li {
    color: white;
    text-decoration: none;
    display: inline;
    margin: 0 0.8rem;
}

.nav img {
    margin: 0.5rem;
    padding: 0;
    width: auto;
    height: 40px;
}