.nav {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #785959;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    flex-grow: 2;
}

.nav ul:nth-of-type(2) {
    flex-grow: 1;
    justify-content: center;
    margin-left: 5rem;
}

.nav li {
    color: white;
    text-decoration: none;
}

.nav ul:nth-of-type(2) li {
    flex-grow: 1;
    text-align: center;
}

.nav li:hover {
    font-weight: bold;
}

.nav img {
    width: auto;
    height: 40px;
}