.nav {
    margin: 0;
    padding: 0.5rem 0rem;
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #785959;
}

.nav ul {
    margin: 0;
    padding: 0 1rem;
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    list-style: none;
    align-items: center;
    flex-grow: 2;
}

.nav li,
.nav a {
    color: white;
    text-decoration: none;
}

.nav ul:nth-of-type(2) {
    justify-content: end;
    /* flex-grow: 1; */
    text-align: center;
}

.nav li:hover {
    transform: translateY(-3px);
    transition: 0.15s;
}

.nav img {
    width: auto;
    height: 40px;
}