.footer {
    margin: 0;
    padding: 0.1rem;
    display: flex;
    justify-content: space-between;
    background-color: #785959;
}

.footer img {
    margin: 1rem;
    padding: 0;
    width: 4rem;
}

.footer ul {
    margin: auto 3rem;
    padding: 0;
    list-style-type: none;
    color: white;
}