.login_form {
    display: grid;
    margin: 2rem;
    gap: 1rem;
    place-items: center;
}

.login_form input {
    width: clamp(240px, 40vw, 400px);
    border-radius: 7px;
    padding: 0.3rem;
    border: 1px solid rgb(209, 206, 206);
}

.login_form label {
    font-size: 1.3rem;
    margin-right: auto;
}

.login_form h5 {
    margin: 0;
}